{% extends 'base.html' %}
{% block header %}
    <h1>Apuntes de {{ asignatura.nombre }}</h1>
{% endblock %}

{% block content %}
    <table border="1">
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
        </tr>
        {% for x in apuntes %}
            <tr>
                <td><a id={{ x.id }} href="{% url 'ApuntUS.views.leaving' x.id %}">{{ x.nombre }} </a></td>
                <td>{{ x.descripcion }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}